{% extends 'main/layout.html'%}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class = "features">
        <h1>Новости</h1>
        {% if news.has_previous %}
            <a href="?page=1" class="btn btn-warning">Первая страница</a>
            <a href="?page={{ news.previous_page_number }}" class="btn btn-warning">Предыдущая страница</a>
        {% endif %}

        {% if tag %}
            <h2>Posts tagged with "{{ tag.name }}"</h2>
        {% endif %}

        {% for el in news %}
            <div class="alert alert-warning">
                <div class = "alert alert-warning">
                            <h3>{{el.title}}</h3>
                             <p class="tags">
                                 {% if el.tags.all%}
                                    Tags:
                                    {% for tag in el.tags.all %}
                                        <a href="{% url 'news_list_by_tag' tag.slug %}">
                                            {{ tag.name }}
                                        </a>
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                 {% endif %}
                            </p>
                            <p>{{el.anons}}</p>
                            {% if el.author %}
                            <p>Автор : {{el.author}}</p>
                            {% endif %}
                            <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
                        </div>
            </div>
        {% endfor %}

        {% if news.has_next %}
            <a href="?page={{ news.next_page_number }}" class="btn btn-warning">Следующая страница</a>
            <a href="?page={{ paginator.num_pages }}" class="btn btn-warning">Последняя страница</a>
        {% endif %}


    </div>

{% endblock %}